Clocks 1114/Clocks*
Clocks 1768/Clocks*
11c24 Clock Slave/11c2*
1768 Clock Master/1768*
11c24 Clock Slave RTOS/11c24*
11c24 Clock Slave RTOS/11C24 Clock Slave RTOS THUMB Flash Debug/
Clocks Project.hzs
*Documentation
*Mech*
*Images
*-backups

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
